<style>
    #container {
        overflow: auto;
        min-height: 400px;
    }
</style>
<div id="container"></div>
<script type="module">

    var data = "[replace-me-with-json-object-nodes-links]";

    const containerId = 'container';
    const givenElement = document.getElementById(containerId);
    const parentElement = givenElement.parentNode;
    const parentWidth = parentElement.clientWidth;
    const parentHeight = parentElement.clientHeight;

    const width = parentWidth;
    const height = ((parentHeight > givenElement.clientHeight) ? parentHeight : givenElement.clientHeight) * 2;

    const color = d3.scaleOrdinal(d3.schemeCategory10);

    const links = data.links.map(d => ({...d}));
    const nodes = data.nodes.map(d => ({...d}));


    // Modify the charge force to increase the repulsion between nodes.
    const chargeForce = d3.forceManyBody().strength(-50); // Experiment with different strength values


    const linkForce = d3.forceLink(links)
        .id(d => d.id)
        .distance(100); // Experiment with different distance values

    const simulation = d3.forceSimulation(nodes)
        .force("link", linkForce)
        .force("charge", chargeForce)
        .force("x", d3.forceX())
        .force("y", d3.forceY());

    const svg = d3.create("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("viewBox", [-width / 2, -height / 2, width, height])
        .attr("style", "max-width: 100%; height: auto;");

    const link = svg.append("g")
        .attr("stroke", "#999")
        .attr("stroke-opacity", 0.6)
        .selectAll("line")
        .data(links)
        .join("line")
        .attr("stroke-width", d => Math.sqrt(d.value));

    const node = svg.append("g")
        .attr("stroke", "#fff")
        .attr("stroke-width", 1.5)
        .selectAll("circle")
        .data(nodes)
        .join("circle")
        .attr("r", 5)
        .attr("fill", d => color(d.group));

    node.append("svg:title")
        .text(function (d) {
            return d.title
        });

    node.on("click", (event, d) => {
        window.open(d.permalink, "_blank");
    });

    node.on("mouseover", (event, d) => {
        d3.select(event.currentTarget).style("cursor", "pointer");
    });

    node.on("mouseout", (event, d) => {
        d3.select(event.currentTarget).style("cursor", "default");
    });

    const text = svg.append("g")
        .selectAll("text")
        .data(nodes)
        .join("text")
        .attr("dx", 12)
        .attr("dy", ".35em")
        .attr('font-size', '10px')
        .text(d => d.title);

    node.call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended));

    simulation.on("tick", () => {
        link
            .attr("x1", d => d.source.x)
            .attr("y1", d => d.source.y)
            .attr("x2", d => d.target.x)
            .attr("y2", d => d.target.y);

        node
            .attr("cx", d => d.x)
            .attr("cy", d => d.y);

        text
            .attr("x", d => d.x)
            .attr("y", d => d.y);
    });

    function dragstarted(event) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        event.subject.fx = event.subject.x;
        event.subject.fy = event.subject.y;
    }

    function dragged(event) {
        event.subject.fx = event.x;
        event.subject.fy = event.y;
    }

    function dragended(event) {
        if (!event.active) simulation.alphaTarget(0);
        event.subject.fx = null;
        event.subject.fy = null;
    }

    container.append(svg.node());

    function handleZoom(event) {
        const transform = event.transform;
        // Apply the zoom transformation to the SVG content
        svg.attr("transform", transform);
    }

    // Create a zoom behavior and attach it to the SVG
    const zoom = d3.zoom()
        .scaleExtent([0.5, 5]) // Set the minimum and maximum zoom levels
        .on("zoom", handleZoom);

    svg.call(zoom);
</script>